@tailwind base;
@tailwind components;
@tailwind utilities;

.cell-container {
    /* width: 10px; */
    /* height: 10px; */
}

.cell-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.cell-border:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.grid-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.alive-cell {
    background-color: black;
}
